@import "@fontsource/share-tech-mono";

.backoffice-theme {
  --background: oklch(0.1462 0.0064 285.5778);
  --foreground: oklch(0.6482 0.1929 252.6573);
  --card: oklch(0 0 0);
  --card-foreground: oklch(0.6482 0.1929 252.6573);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.6482 0.1929 252.6573);
  --primary: oklch(0.6482 0.1929 252.6573);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.184 0.0172 252.6048);
  --secondary-foreground: oklch(0.713 0.1605 245.0883);
  --muted: oklch(0.1322 0.0113 250.1989);
  --muted-foreground: oklch(0.5537 0.1455 246.9723);
  --accent: oklch(0.2545 0.0208 242.7543);
  --accent-foreground: oklch(0.6482 0.1929 252.6573);
  --destructive: oklch(0.3999 0.1641 29.2339);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2506 0.0749 251.9371);
  --input: oklch(0.1037 0.0101 240.7509);
  --ring: oklch(0.6482 0.1929 252.6573);
  --chart-1: oklch(0.6482 0.1929 252.6573);
  --chart-2: oklch(0.522 0.1771 255.8297);
  --chart-3: oklch(0.713 0.1605 245.0883);
  --chart-4: oklch(0.4267 0.1404 254.9809);
  --chart-5: oklch(0.7664 0.1283 244.7527);
  --sidebar: oklch(0.136 0.0068 285.4541);
  --sidebar-foreground: oklch(0.6482 0.1929 252.6573);
  --sidebar-primary: oklch(0.6482 0.1929 252.6573);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2545 0.0208 242.7543);
  --sidebar-accent-foreground: oklch(0.6482 0.1929 252.6573);
  --sidebar-border: oklch(0.2506 0.0749 251.9371);
  --sidebar-ring: oklch(0.6482 0.1929 252.6573);
  --font-sans: "Share Tech Mono", monospace;
  --font-serif: "Share Tech Mono", monospace;
  --font-mono: "Share Tech Mono", monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 12px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.35;
  --shadow-color: #108fff;
  --shadow-2xs: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.17);
  --shadow-xs: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.17);
  --shadow-sm: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.35),
    0px 1px 2px 1px hsl(208.1172 100% 53.1373% / 0.35);
  --shadow: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.35),
    0px 1px 2px 1px hsl(208.1172 100% 53.1373% / 0.35);
  --shadow-md: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.35),
    0px 2px 4px 1px hsl(208.1172 100% 53.1373% / 0.35);
  --shadow-lg: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.35),
    0px 4px 6px 1px hsl(208.1172 100% 53.1373% / 0.35);
  --shadow-xl: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.35),
    0px 8px 10px 1px hsl(208.1172 100% 53.1373% / 0.35);
  --shadow-2xl: 0px 5px 12px 2px hsl(208.1172 100% 53.1373% / 0.88);
  --tracking-normal: 0.04em;
  --spacing: 0.25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  color: var(--color-foreground);
  background-color: var(--color-background);
  color-scheme: dark;
  font-family: var(--font-sans);
  letter-spacing: var(--tracking-normal);
}

.backoffice-theme [data-slot="input"],
.backoffice-theme [data-slot="select"],
.backoffice-theme [data-slot="select-trigger"],
.backoffice-theme [data-slot="textarea"] {
  border-color: hsl(208.1172 100% 53.1373% / 0.4);
}
